__pycache__/
*.pyc
*.pyo

.env
.venv
conda/

.idea/
.vscode/

*.log
*.ckpt
*.pth
*.pt

simulation/mix/FbHdp_30Load_2Incast.txt
simulation/mix/FbHdp_50Load.txt
simulation/mix/config/
simulation/mix/micro/
simulation/mix/results/
simulation/.waf-1.7.11-edc6ccb516c5e3f9b892efc9f53a610f/
simulation/.waf3-1.7.11-edc6ccb516c5e3f9b892efc9f53a610f/
simulation/build
analysis/trace_reader
